  /* COMMON */
.body__container {
  /* default font로 roboto를 설정, 지원 안될 시 고딕체 대체 */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

/* BTN */
.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;

  /*수직적 가운데 정렬(align-items)
  수평적 가운데 정렬 기능 넣지 않고 flex 활용
  -> 1. width 삭제 2. padding 추가, display: inline-flex 적용
  TODO: flex 학습 후 재확인할 것
  */
  display: inline-flex;
  align-items: center;
  padding: 0 12px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  /*버튼에 커서 올리면 커서가 포인터 모양으로 변환*/
  cursor: pointer;
    /*padding 등 여백 적용 시 박스의 크기를 제한*/
  box-sizing: border-box;
  position: relative;
}
.btn:hover::before{
  content: "";
  /*자식요소에서 position absolute 사용하기 위해 부모요소에 relative 추가
  TODO: 여기서 position을 왜 사용하나? 무슨 목적?
  TODO: 가상요소 선택자(before) 재정리 + 선택자 재정리
  */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*부모 배경색의 검은색 부분의 7%만 사용*/
  background: rgba(0,0,0,0.07);

}
.btn.btn--primary{
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* INPUT TEXT */
.input--text{
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* TODO: height과 padding 등의 영향으로 커지는 것을 제한함? 어떻게? box-sizing에 대해 추가 학습 */
  box-sizing: border-box;
  /* input 박스 클릭 시 border 부분에 변화생김, 이를 제어하는 방법 중 inline은 까다로움으로 none 처리*/
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  font-size: 16px;
}
.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
              0 0 5px rgba(81,167,232,0.5);
}
/* Vendor Prefix (브라우저 업체별 접두사) 
표준 기능이 아닌 업체별 실험적 제공 기능의 경우 Vendor Prefix 사용함 */
.input--text::-webkit-input-placeholder { color: #cacaca}
.input--text::-ms-input-placeholder { color: #cacaca}
.input--text::-moz-input-placeholder { color: #cacaca}

/* HEADER */
header {
  border-bottom: 1px solid rgba(0,0,0,0.75);
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
  /* 브라우저별 색상속성의 텍스트를 읽는 방법이 다르므로 16진수표현 권장 */
  background: #fff;
}
header .inner{
  /* header가 아닌 header .inner에 height을 삽입하는 이유는 
  height의 default는 auto이므로 지식요소에 height을 추가함으로써 자동으로 부모요소에
  같은 높이가 추가됨 */
  height: 78px;
  /* 아래 두 가지 속성에 따라 수평적 가운데 정렬 가능, 반드시 width가 정의되어야 의도대로 기능 */
  max-width: 980px;
  margin: 0 auto;
}
/* header .inner .menu-group 으로 선택하여 속성 입력 가능하나 직관적으로 표기하기 위해 본문의 방식 권장 */
header .menu-group{
  /* 아래 속성으로 자식요소(후손요소 X)들의 수평정렬 가능 */
  display: flex;
  /* 아래 속성으로 해당 아이디의 높이를 기준으로 자식요소 수직정렬 */
  align-items: center;
  height: 100%;
}
header .logo{
  margin-right: 10px;
}
header .logo a{
  background: url("../img/logo.svg");
  width: 32px;
  height: 32px;
  display: block;
  /* html로 삽입한 text는 img의 대체요소가 됨으로 제거하지 않고 text를 밀어버림 */
  text-indent: -9999px;
}
header .logo a:hover{
  background: url("../img/logo_on.svg");
}
header .main-menu{
  display: flex;
}
header .main-menu li a{
  /* inline 요소인 a 태그에 block 속성을 부여하기 위해 아래 속성 추가 */
  display: block;
  /* a 태그 영역을 4방위에서 10px 늘림으로써 UX 향상 */
  padding: 10px;
  color: #3c4146;
}